<app-header></app-header>

<div class="profile__mini-banner">
    <div class="container profile">
        <div class="row minibanner__content">
            <div class="col-md-9 minibanner__title">

                <div class="card-text sidebar__user_single">
                  <div class="sidebar__user_thumbnail">
                      <img src="{{ authService.currentUser?.photoURL }}" width="120px" height="120px" class="img-circle" alt="">
                  </div> 
                  <div class="sidebar__user_details">
                    <div class="profile__banner_name"> {{ authService.currentUser?.displayName }}</div>
                    <div class="profile__banner_title">{{ authService.currentUser?.email }}</div>
                    <!-- <div class="profile__banner_title">Project Manager</div> -->
                  </div>
                </div>

            </div>

            <div class="col-md-3 minibanner__ask-button"><a class="btn btn-default btn_recommend" role="button" routerLink="edit">Edit</a> </div>
        </div>
    </div>
</div>


<div class="container main__site">

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-2 sidebar-offcanvas">
            <aside class="">
                <div class="profile__sidebar-upvotes">16 Upvotes</div>
                <div class="profile__sidebar-topics">Topics</div>
            </aside>
        </div>

        <div class="col-md-7">
            <section>
                <app-complaints></app-complaints>
            </section>
        </div>


        <div class="col-md-3 sidebar-offcanvas">
            <aside class="">

                <div class="card sidebar__card">
                  <div class="card-block">
                    <h3 class="card-title profile__sidebar-title">Share your profile</h3>
                    <div class="profile__social-buttons">
                      <button class="btn btn-default"> twitter </button>
                      <button class="btn"> facebook </button>
                    </div>
                  </div>
                </div>

            </aside>
        </div>
    </div>
       
    
</div>

