<app-header></app-header>

<div class="mini-banner">
    <div class="container">
        <div class="row minibanner__content">
            <div class="col-md-8 minibanner__title">
                <h2>Ask MyVoice NG</h2>
                <h5>Ask MyVoiceNG community for recommendations on your complaints.</h5>
            </div>

            <div class="col-md-4 minibanner__ask-button"><a class="btn btn-default btn_recommend" role="button" routerLink="voice">Voice your complaint</a> </div>
        </div>
    </div>
</div>

<div class="container main__site">

    <div class="row row-offcanvas row-offcanvas-right">
         <div class="col-md-8">
            <section>
                <app-complaints></app-complaints>
            </section>
        </div>

        <div class="col-md-4 sidebar-offcanvas">
            <aside class="">
                <app-sidebar></app-sidebar>
            </aside>
        </div>
    </div>
       
    
</div>

