<div class="alert alert-danger" *ngIf="errors" >An error has occured: {{ errors.status }} - {{errors._body}} </div>
<div  *ngFor="let complaint of complaints" class="row single-complaint">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <app-rant [complaint]="complaint"></app-rant>
        <!--{{ complaint | json}} -->
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Tax Fraud for 12 years</h3>
        <p class="card-text card__complaint-text">My tax account has been overrated, i found this out when i hired a reliable tax accountant to for the first time look into my tax history only to discover that i have been over paying for 12 yrs</p>
        <div class="card__footer">
          <ul>
            <li class="card__footer-first"><a href="#">upvote</a></li>
            <li class="card__footer-item"><a href="#">follow</a></li>
            <li class="card__footer-last"><a href="#">share</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Tax Fraud for 12 years</h3>
        <p class="card-text card__complaint-text">My tax account has been overrated, i found this out when i hired a reliable tax accountant to for the first time look into my tax history only to discover that i have been over paying for 12 yrs</p>
        <div class="card__footer">
          <ul>
            <li class="card__footer-first"><a href="#">upvote</a></li>
            <li class="card__footer-item"><a href="#">follow</a></li>
            <li class="card__footer-last"><a href="#">share</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>-->