<nav class="navbar navbar-default">
  <div class="container">
    <div class="wrapper flexgrid flexgrid--banner">
      
      <aside class="banner-left">
        <a class="" routerLink="/">
          <img alt="Brand" src="assets/images/myvoiceng.png" class="site__logo">
        </a>
      </aside>


      <aside class="banner-right" *ngIf="authService.isLoggedIn()">
        <a class="" href="/profile">
          <img src="{{ authService.currentUser.photoURL }}" width="35px" height="35px" class="img-circle" alt="">
        </a>
        {{ authService.currentUser.displayName }} [ <a href="#" (click)="authService.logout()">Logout</a> ]
      </aside>

      <div class="banner-right" *ngIf="!authService.isLoggedIn()">
        <a class="btn btn-default"  href="login">Sign Up</a>
      <a class="btn btn-default" href="login">Log In</a>
      </div>
      

      <!--<section class="banner">
        <input class="input__search" type="text" name="search" placeholder="Search for a discussion">
      </section>-->

      
    </div>
  </div>
</nav>