<div class="row">
  <div class="col-sm-12">
    <div class="card sidebar__card">
      <div class="card-block">
        <h3 class="card-title sidebar__title">Most  this week</h3>

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>
          

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>

          <div class="card-text sidebar__user_single">
            <div class="sidebar__user_thumbnail">
                <img src="http://placehold.it/40x40" class="img-circle" alt="">
            </div>
            <div class="sidebar__user_details">
              <div class="sidebar__complaint_name">Michael Agbabiaka</div>
              <div class="sidebar__complaint_title">Student, Yaba Tech.</div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>